<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>employee-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>INDEX</servlet-name>
  	<jsp-file>/WEB-INF/views/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>INDEX</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LOGIN</servlet-name>
  	<jsp-file>/WEB-INF/views/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LOGIN</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>SIGNIN</servlet-name>
  	<jsp-file>/WEB-INF/views/signin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SIGNIN</servlet-name>
  	<url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>HRPAGE</servlet-name>
  	<jsp-file>/WEB-INF/views/hrpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HRPAGE</servlet-name>
  	<url-pattern>/hrpage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EMPPAGE</servlet-name>
  	<jsp-file>/WEB-INF/views/employeepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EMPPAGE</servlet-name>
  	<url-pattern>/emppage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>REGISTER</servlet-name>
  	<jsp-file>/WEB-INF/views/registerEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>REGISTER</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
 <servlet>
  	<servlet-name>SAVE</servlet-name>
  	<jsp-file>/WEB-INF/views/saveEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SAVE</servlet-name>
  	<url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SEARCH</servlet-name>
  	<jsp-file>/WEB-INF/views/getEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SEARCH</servlet-name>
  	<url-pattern>/get</url-pattern>
  </servlet-mapping>
<servlet>
  	<servlet-name>SEARCH1</servlet-name>
  	<jsp-file>/WEB-INF/views/searchEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SEARCH1</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BASEDONID</servlet-name>
  	<jsp-file>/WEB-INF/views/searchbasedonId.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BASEDONID</servlet-name>
  	<url-pattern>/id</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LOGOUT</servlet-name>
  	<jsp-file>/WEB-INF/views/Logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LOGOUT</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>JOB</servlet-name>
  	<jsp-file>/WEB-INF/views/searchbasedonjob.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JOB</servlet-name>
  	<url-pattern>/job</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>JOB1</servlet-name>
  	<jsp-file>/WEB-INF/views/basedonjob.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JOB1</servlet-name>
  	<url-pattern>/job1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MOBILE</servlet-name>
  	<jsp-file>/WEB-INF/views/searchbasedonmobilenumber.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MOBILE</servlet-name>
  	<url-pattern>/mobile</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>MOBILE1</servlet-name>
  	<jsp-file>/WEB-INF/views/basedonmobilenumber.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MOBILE1</servlet-name>
  	<url-pattern>/mobile1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NAME</servlet-name>
  	<jsp-file>/WEB-INF/views/searchbasedonname.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NAME</servlet-name>
  	<url-pattern>/name</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>NAMEPAGE</servlet-name>
  	<jsp-file>/WEB-INF/views/basedonname.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NAMEPAGE</servlet-name>
  	<url-pattern>/name1</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>DISPLAYALL</servlet-name>
  	<jsp-file>/WEB-INF/views/displayall.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DISPLAYALL</servlet-name>
  	<url-pattern>/display</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>SALARY</servlet-name>
  	<jsp-file>/WEB-INF/views/searchbasedonsalary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SALARY</servlet-name>
  	<url-pattern>/salary</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SALARYPAGE</servlet-name>
  	<jsp-file>/WEB-INF/views/basedonsalary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SALARYPAGE</servlet-name>
  	<url-pattern>/salary1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EDIT</servlet-name>
  	<jsp-file>/WEB-INF/views/editemployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EDIT</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UPDATE</servlet-name>
  	<jsp-file>/WEB-INF/views/updateEmployeee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UPDATE</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DELETE</servlet-name>
  	<jsp-file>/WEB-INF/views/deleteEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DELETE</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MAINDISPLAY</servlet-name>
  	<jsp-file>/WEB-INF/views/empmaindisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MAINDISPLAY</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Contactus</servlet-name>
  	<jsp-file>/WEB-INF/views/contact us.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Contactus</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Aboutus</servlet-name>
  	<jsp-file>/WEB-INF/views/about_us.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Aboutus</servlet-name>
  	<url-pattern>/about</url-pattern>
  </servlet-mapping>
</web-app>